In [1]:
import pandas as pd
import numpy as np
import os

In [24]:
data_dir = '../data/PoliInfo2-EntityLinking-FormalRun-v20200703/AnswerSheet'
os.listdir(data_dir)

['test.txt',
 'train.txt',
 'PoliInfo2-EntityLinking-JA-Formal-Test.tsv',
 'dev.txt',
 'PoliInfo2-EntityLinking-JA-Formal-Training.tsv']

In [25]:
df_test = pd.read_table(os.path.join(data_dir,'PoliInfo2-EntityLinking-JA-Formal-Test.tsv'))

In [26]:
df_test['形態素'] = df_test['形態素'].replace('　','[SPACE]').replace('─','[BAR]').replace('○','[SEP]').replace('　　　━━━━━━━━━━━━━','[LBAR]')
df_test = df_test.fillna({'形態素': '[NULL]', 'IOB2': 'O'})

In [27]:
df_test.iloc[:,:2].to_csv(os.path.join("../bert_ner/data/raw_test","test.txt"), header=None, index=None, sep=' ', mode='a')

In [28]:
df_test.iloc[:,:2]

           形態素 IOB2
0       [NULL]    O
1           平成    O
2           三十    O
3            年    O
4            七    O
...        ...  ...
209857       時    O
209858      五十    O
209859       九    O
209860       分    O
209861      散会    O

[209862 rows x 2 columns]